@import "../../variables.scss";

.Form {
  grid-row: 3 / span 1;
  grid-column: 2 / span 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: $box-shadow;
  margin: 20px 0;

  .Time {
    @include flexbox-center;
    width: 90%;
    height: 60px;
    margin: 20px 0px 4px 0px;
  }

  .RaceType {
    @include flexbox-center;
    width: 90%;
    height: 60px;
  }

  .Distance {
    @include flexbox-center;
    width: 90%;
    height: 60px;
    margin: 4px 0px 20px 0px;
  }
}
