@import "../../variables.scss";

.CheckBoxField {
  @include flexbox-even;
  width: 100%;

  label {
    font-family: $font-family;
    // margin: 0 10px;
  }

  input {
    width: 15px;
    height: 15px;
  }
}
